@font-face {
    font-family: 'Compotes';
    src: url('../fonts/Compotes-CitroBold.woff2') format('woff2'),
        url('../fonts/Compotes-CitroBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Compotes';
    src: url('../fonts/Compotes-CitroBold.woff2') format('woff2'),
        url('../fonts/Compotes-CitroBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Compotes';
    src: url('../fonts/Compotes-Citro.woff2') format('woff2'),
        url('../fonts/Compotes-Citro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Compotes';
    src: url('../fonts/Compotes-Citro.woff2') format('woff2'),
        url('../fonts/Compotes-Citro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Compotes';
    src: url('../fonts/Compotes-CitroBold.woff2') format('woff2'),
        url('../fonts/Compotes-CitroBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Compotes';
    src: url('../fonts/Compotes-Citro.woff2') format('woff2'),
        url('../fonts/Compotes-Citro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
:root {
	--black: #323232;
	--brown: #461F1F;
}
* {
	padding: 0;
	margin: 0;
	border: 0;
	/* transition: .3s all; */
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: 'Manrope';
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: inherit;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/*--------------------*/

body {
		color: #152C18;
		background: #FFF;
		overflow-x: hidden;
		width: 100vw;
		font-weight: 400;
}
body::-webkit-scrollbar {
	width: 5px;
}

body::-webkit-scrollbar-track {
	background: var(--black);        /* цвет зоны отслеживания */
}

body::-webkit-scrollbar-thumb {
	background-color: var(--brown); 
	border-radius: 0px;
	border: 3px solid var(--brown);  
}
.container {
	max-width: 1190px;
	margin: 0 auto;
	padding: 0 15px;
}
.btn{
	border-radius: 10px;
	background: linear-gradient(180deg, #7AB678 0%, #55A952 100%), #7AB678;
	padding: 8px 11px;
	color: #FFF;
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}
.btn-opacity{
	border-radius: 50px;
	background: linear-gradient(180deg, #7AB678 0%, #55A952 100%);
	color: #FFF;
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	padding: 15px 23px;
	width: max-content;
	position: relative;
	z-index: 1;
}
.btn-opacity::before{
	content: "";
	width: calc(100% + 14px);
	height: calc(100% + 14px);
	top: -7px;
	left: -7px;
	background-color: #578E37;
	position: absolute;
	border-radius: 50px;
	z-index: -1;
	opacity: 0.8;
	transition: all 0.4s;
}
.btn-opacity:hover::before{
	opacity: 1;
	transition: all 0.4s;
}
.sub-descriotion{
	color: #FFF;
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}
.title{
	color: #BA9B79;
	font-family: Compotes;
	font-size: 68px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: 2.04px;
}
.subtitle{
	color: #FFF;
	font-family: Montserrat;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}
.mt-20{
	margin-top: 20px;
}
.link-square{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #578E37;
	box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}
.head-h2{
	color: #152C18;
	font-family: Compotes;
	font-size: 70px;
	font-style: normal;
	font-weight: 400;
	line-height: 90%;
	letter-spacing: 2.1px;
}
.brown{
	color: #BA9B79;
}
.absolute{
	position: absolute;
}
.head-h3{
	color: #BA9B79;
	font-family: Compotes;
	font-size: 50px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 1.5px;
}
.social__link{
	background: linear-gradient(180deg, #7AB678 0%, #55A952 100%);
	border-radius: 50%;
	width: 44.5px;
	height: 44.5px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.head-h4{
	color: #BA9B79;
	text-align: center;
	font-family: Compotes;
	font-size: 44px;
	font-style: normal;
	font-weight: 400;
	line-height: 90%;
	letter-spacing: 1.32px;
}

@media screen and (max-width: 550px) {
	.head-h4{
		font-size:  clamp(30px, 10.5217px + 6.087vi, 44px);
	}
}
.title-white{
	color: #FFF;
	font-family: Compotes;
	font-size: 68px;
	font-style: normal;
	font-weight: 400;
	line-height: 96.5%;
	letter-spacing: 2.04px;
}